:root {
  --cyan: hsl(179, 62%, 43%);
  --Bright-yellow: hsl(71, 73%, 54%);
  --Grayish-Blue: hsl(218, 22%, 67%);
  --Light-Gray: hsl(204, 43%, 93%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--Light-Gray)
}

.carta {
  background: white;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 635px;
  height: 475px;
}
.carta-header {
  height: 215px;
  width: 90%;
  margin-left: 5%;
}
.carta-header .title {
  font-weight: 700;
  color: var(--cyan);
  font-size: 24px;
  padding-top: 40px;
}
.carta-header .subtitle {
  padding-top: 20px;
  font-weight: 700;
  color: var(--Bright-yellow);
  font-size: 20px;
}
.carta-header .text {
  color: var(--Grayish-Blue);
  font-weight: 400;
  padding-top: 20px;
  font-size: 16px;
}
.columna {
  display: flex;
  flex-direction: row;
  height: 260px;
}


.carta-left {
  background: var(--cyan);
  width: 50%;
  color: var(--Light-Gray);
  border-bottom-left-radius: 5px;
}
.carta-left .suscripcion {
  margin-top: 40px;
  font-weight: 700;
  margin-left: 31px;
  font-size: 18px;
}
.carta-left .paga {
  font-weight: 700;
  font-size: 32px;
  margin-left: 31px;
  margin-top: 10px;
}
.carta-left .paga span {
  color: var(--Light-Gray);
  font-size: 16px;
  margin-left: 5px;
  font-weight: 400;
}
.carta-left .access {
  margin-left: 31px;
  margin-top: 10px;
}
.carta-left button {
  background-color: var(--Bright-yellow);
  width: 74%;
  margin-left: 13%;
  margin-top: 25px;
  color: var(--Light-Gray);
  border-radius: 5px;
  border: none;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.carta-right {
  background: #4abebd;
  width: 50%;
  color: var(--Light-Gray);
  border-bottom-right-radius: 5px;
}
.carta-right .title {
  margin-top: 40px;
  font-weight: 700;
  margin-left: 31px;
  font-size: 18px;
}
.carta-right .text {
  margin-left: 40px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 10px;
}

/*Changing Content*/

@media screen and (max-width: 375px) {

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    
  }

  .columna {
    display: flex;
    flex-direction: column;
  }
  
  .carta {
  height: 620px;
   width: 85%;
   margin-top: 60px;
   margin-bottom: 60px

  }

  .carta-header .title {
    font-size: 20px;
    padding-top: 30px;
    margin-left: 10px;
  }
  .carta-header .subtitle {
    padding-top: 20px;
    font-size: 16px;
    margin-left: 10px;
  }
  .carta-header .text {
    padding-top: 20px;
    font-size: 13px;
    margin-left: 10px;
  }
  .columna {
    display: flex;
    flex-direction: column;
  }
  .carta-left .suscripcion {
    margin-top: 30px;
    font-weight: 700;
    margin-left: 30px;
    font-size: 18px;
  }
  .carta-left .paga {
    font-weight: 700;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 10px;
  }
  .carta-left .paga span {
    color: var(--Light-Gray);
    font-size: 16px;
    margin-left: 5px;
    font-weight: 200;
  }
  .carta-left .access {
    margin-left: 30px;
  }
  .carta-left button {
    margin-bottom: 30px;
  }
 .carta-right .title {
    margin-top: 30px;
    font-size: 18px;
  }
  .carta-right .text {
    margin-left: 35px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .carta-left {
    width: 100%;
    border-radius: 0px;
  }
  .carta-right {
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .carta-right .text {
    margin-bottom: 20px;
  }
}