:root {
  --cyan: hsl(179, 62%, 43%);
  --Bright-yellow: hsl(71, 73%, 54%);
  --Grayish-Blue: hsl(218, 22%, 67%);
  --Light-Gray: hsl(204, 43%, 93%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-size: 16px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--Light-Gray)
}
.carta {
  background: white;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 635px;
  height: 475px;
}
.carta-header {
  height: 50%;
  width: 90%;
  margin-left: 5%;
}
.carta-header .title {
  font-weight: 700;
  color: var(--cyan);
  font-size: 24px;
  padding-top: 40px;
}
.carta-header .subtitle {
  padding-top: 20px;
  font-weight: 700;
  color: var(--Bright-yellow);
  font-size: 20px;
}
.carta-header .text {
  color: var(--Grayish-Blue);
  font-weight: 400;
  padding-top: 20px;
  font-size: 16px;
}
.columna {
  display: flex;
  flex-direction: row;
  height: 50%;
}

/*Changing Content*/
.carta-left {
  background: var(--cyan);
  width: 50%;
  color: var(--Light-Gray);
  border-bottom-left-radius: 5px;
}
.carta-left .suscripcion {
  margin-top: 15px;
  font-weight: 700;
  margin-left: 20px;
}
.carta-left .paga {
  font-weight: 700;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
}
.carta-left .paga span {
  color: rgb(211, 211, 211);
  font-size: 12px;
  margin-left: 10px;
}
.carta-left .access {
  margin-left: 20px;
  margin-top: 10px;
}
.carta-left button {
  background-color: var(--Bright-yellow);
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;
  color: ligh var(--Light-Gray);
  margin-bottom: 15px;
  border-radius: 5px;
  height: 40px;
  border: none;
  font-family: "Karla", sans-serif;
  font-weight: 700;
}
.carta-right {
  background: hsl(179, 67%, 60%);
  width: 50%;
  color: var(--Light-Gray);
  border-bottom-right-radius: 10px;
}
.carta-right .title {
  margin-top: 15px;
  font-weight: 700;
  margin-left: 20px;
}
.carta-right .text {
  margin-left: 20px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 15px;
}
@media screen and (max-width: 375px) {
  .columna {
    display: flex;
    flex-direction: column;
  }
  .carta-left {
    width: 100%;
    border-radius: 0px;
  }
  .carta-right {
    width: 100%;
  }
}